$colors: (
    common: (
        white: #ffffff,
        black: #222831,
        blue:#82CEFD,
        pink:#FFADAD,
        dpink:#FD346E,
        paste:#1EE2CF,
    ),
    heading: (
        primary: #222831,
    ),
    grey: (
        1:#eeeeee,
        2:#f8f8f8,

    ),
    text: (
        body:#8A90A2,
        p:#8A90A2,
    ),
    theme: (
        1: #222831,
        2: #00ADB5,
        primary: #00ADB5,
        secondary: #57c9da,

    ),
    border: (
        1: #E8ECF2,
    )
);

